body{
    background: #400854;
    color: #FDDF4F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock{
    font-family: sans-serif;
    font-size: 100px;
    text-align: center;
    padding-top: 100px;
    height: 100%;
}